.container{
    display: flex;
    background-color: var(--navbar-background-color);
    gap: 10dvw;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    user-select: none;
    height: 80px;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.navComponent{
    color: var(--navbar-text-color);
    font-family: var(--font-IBM);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: opacity 0.2s ease;
    cursor: pointer;

    text-decoration: none;
    transition: color 0.3s ease;
}

.navComponent:hover{
    opacity: 0.7;
    color: var(--navbar-text-color);
}

.navConnect{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.active {
  color: #FFFFFF; 
  font-weight: bold;
  border-bottom: none;
}

.navConnect img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.navConnect img:hover {
    transform: scale(1.1);
}