:root {
  --background-color: #000000;
  --navbar-background-color: #1B1B1B;
  --navbar-text-color: #9C9C9C;
  --main-text-color: #FFFFFF;
  --button-color: #3F8E00;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  background-color: var(--background-color);
    -ms-overflow-style: none; 
  scrollbar-width: none; 
  background-color: var(--background-color);
}