.container{
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 80px);
  justify-content: space-between;
  overflow: hidden;
}

/* Добавьте эти стили для центрирования About */
.aboutContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}